<div class="container mt-5">
  <div class="card text-center" style=" padding: 20px;">


    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" novalidate>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>userName</mat-label>
        <input matInput placeholder="Placeholder"
        type="text" formControlName="userName"
        
        [ngClass]="{'error-field': loginForm.get('userName').invalid && loginForm.get('userName').touched }"
        
         >
        <div *ngIf="loginForm.get('userName').hasError('required')" class="error-message">
          Le nom d'utilisateur est requis.
        </div>
        <div *ngIf="loginForm.get('userName').hasError('minlength')" class="error-message">
          Le nom d'utilisateur doit contenir au moins 3 caractères.
        </div>

        <mat-hint>userName</mat-hint>
      </mat-form-field>
     
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>userPassword</mat-label>
        <input matInput placeholder="Placeholder" 
               type="{{ showPassword ? 'text' : 'password' }}" formControlName="userPassword"
               [ngClass]="{'error-field-password': loginForm.get('userPassword').invalid && loginForm.get('userPassword').touched }">
               <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
                <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button> 
        <div *ngIf="loginForm.get('userPassword').hasError('required')" class="error-message-password">
          Le mot de passe est requis.
        </div>
        <div *ngIf="loginForm.get('userPassword').hasError('maxlength')" class="error-message-password">
          Le mot de passe doit contenir moins de 15 caractères.
        </div>
        <div *ngIf="loginForm.get('userPassword').hasError('minlength')" class="error-message-password">
          Le mot de passe doit contenir au moins 6 caractères.
        </div>
        <mat-hint>userPassword</mat-hint>
      </mat-form-field>
      
      <button class="w-100" mat-raised-button color="primary">Login</button>

      
     
    </form>
  </div>
  <div class="text-center">

    <button class="w-20 mt-2" mat-raised-button (click)="registerNewUser()">Create Count</button>
  </div>
</div>